{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div id='content' class='row'>
            <div id="left-sidebar" class="col-md-2 sidebar">
                <h3>Graph Filters</h3>
                <div style="padding: 10px 10px" id="scope">
                    <div class="row">
                        <p id="graphHeader">SCOPE : Politicians</p>
                    </div>
                </div>
                <div id="countries">
                    <div style="padding: 5px" class="row">
                        <p id="graphHeader">COUNTRY-1</p>
                        <div class="form-group">
                            <select class="form-control"  id="countriesList"></select>
                        </div>
                        <p id="graphHeader">COUNTRY-2</p>
                        <div class="form-group">
                            <select class="form-control"  id="countriesList2"></select>
                        </div>

                    </div>
                </div>
                <hr class="style-four">
                <p id="graphHeader">COLOR PALETTE</p>

                            <div id="colorPalette" data-toggle="buttons">
                                <label class="btn btn-block btn-default ">
                                    <input type="radio" value="0" name="coloroptions" id="option1" autocomplete="off" > Gender
                                </label>
                                <div  class="gender-selector">
                                    <i id="female" class=" fa fa-female fa-2x"></i>
                                    <i id="male" class="fa fa-male fa-2x"></i>
                                </div>
                                <label class="btn btn-block btn-default active">
                                    <input type="radio"  value="1" name="coloroptions" id="option2" autocomplete="off" aria-selected="true" checked> Nationality
                                </label>
                                <div class="nationality-selector radio">
                                    <i id="country1" class="fa fa-globe fa-2x"></i>&nbsp;&nbsp;Country - 1<br>
                                    <i id="country2" class="fa fa-globe fa-2x"></i>&nbsp;&nbsp;Country - 2
                                </div>

                            </div>

                <hr class="style-four">
                <div id="age">
                    <div style="padding: 10px; padding-bottom: 20px" class="row">
                        <p id="graphHeader">Year Of Birth</p>
                        <div class="form-group">
                        <label for="amount">range:</label>
                        <input  type="text" id="amount" readonly style=" width: 100px; border:0; color:#0f86ce; font-weight:bold;">
                        </div>
                        <div  id="slider-range"></div>
                    </div>
                </div>


            </div>
            <div class='col-md-7 main'>
                <div id="d3Box">
                    <div  id="graphHolder"></div>
                    <div id="sliderHolder">
                        <div id="slider"></div>
                    </div>
                </div>
                </div>
            <div id="right-sidebar" class='col-md-3 sidebar'>
                <h3>Graph Stats</h3>
                <hr class="style-four">
                <div style="padding: 5px" class="row">
                    <p id="graphHeader">Country - 1</p>
                    <div class="form-group">
                        <label style="padding-bottom: 2px" for="noOfMale1">Male : &nbsp;&nbsp;</label>
                        <input  type="text" id="noOfMale1" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;"><br>
                        <label  style="padding-bottom: 2px" for="noOfFemale1">Female :&nbsp;&nbsp;</label>
                        <input  type="text" id="noOfFemale1" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;">
                        <label  style="padding-bottom: 2px" for="GACM1">Gobal Avg Centrality Male :&nbsp;&nbsp;</label>
                        <input  type="text" id="GACM1" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;"><br>
                        <label  style="padding-bottom: 2px" for="GACF1">Gobal Avg Centrality Female :&nbsp;&nbsp;</label>
                        <input  type="text" id="GACF1" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;"><br>
                        <label  style="padding-bottom: 2px" for="GAKCM1">Gobal Avg K-core Male :&nbsp;&nbsp;</label>
                        <input  type="text" id="GAKCM1" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;"><br>
                        <label  style="padding-bottom: 2px" for="GAKCF1">Gobal Avg K-core Female :&nbsp;&nbsp;</label>
                        <input  type="text" id="GAKCF1" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;">
                    </div>


                </div>
                <hr class="style-four">
                <div style="padding: 5px" class="row">
                    <p id="graphHeader">Country - 2</p>
                    <div class="form-group">
                        <label  style="padding-bottom: 2px" for="noOfMale2">Male : &nbsp;&nbsp;</label>
                        <input  type="text" id="noOfMale2" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;"><br>
                        <label  style="padding-bottom: 2px" for="noOfFemale2">Female :&nbsp;&nbsp;</label>
                        <input  type="text" id="noOfFemale2" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;">
                        <label  style="padding-bottom: 2px" for="GACM2">Gobal Avg Centrality Male :&nbsp;&nbsp;</label>
                        <input  type="text" id="GACM2" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;"><br>
                        <label  style="padding-bottom: 2px" for="GACF2">Gobal Avg Centrality Female :&nbsp;&nbsp;</label>
                        <input  type="text" id="GACF2" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;"><br>
                        <label  style="padding-bottom: 2px" for="GAKCM2">Gobal Avg K-core Male :&nbsp;&nbsp;</label>
                        <input  type="text" id="GAKCM2" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;"><br>
                        <label  style="padding-bottom: 2px" for="GAKCF2">Gobal Avg K-core Female :&nbsp;&nbsp;</label>
                        <input  type="text" id="GAKCF2" readonly style=" width: 60px; border:0; color:#0f86ce; font-weight:bold;">
                    </div>
                </div>
                <hr class="style-four">
                <div class="form-group">
                    <label  style="padding-bottom: 2px" style="color: #0f86ce" for="linkbtwc1c2">No of Cross links between Country-1 & Country-2 : &nbsp;&nbsp;</label>
                    <input  type="text" id="linkbtwc1c2" readonly style=" width: 60px; border:0; color:firebrick; font-weight:bold;"><br>
                </div>



            </div>
        </div>
    </div>
        <hr class="style-four">
    <div class="container">
        </u></strong><h2 style="text-align: center; color: #2b669a">Global Stats</h2></u></strong>

        <div id="globalstats" class="row">
            <strong><u><h3>Number of Females & Males</h3></u></strong>
            <img width="100%" class="img-responsive" src="{{ asset('img/NumberofFemales&Males.png') }}">
            <hr class="style-four">

            <strong><u><h3>Gender Homophily</h3></u></strong>
            <img width="100%" class="img-responsive" src="{{ asset('img/Homophily1.png') }}">
            <img width="100%" class="img-responsive" src="{{ asset('img/Homophily2.png') }}">
            <hr class="style-four">
            <strong><u><h3>Average K-Core</h3></u></strong>
            <img width="100%" class="img-responsive" src="{{ asset('img/AverageKcoreSimple.png') }}">
            <img width="100%" class="img-responsive" src="{{ asset('img/AverageKcoreErrorbars.png') }}">
            <img width="100%" class="img-responsive" src="{{ asset('img/AverageKcoreBarchart.png') }}">
            <hr class="style-four">
            <strong><u><h3>Average Indegree</h3></u></strong>
            <img width="100%" class="img-responsive" src="{{ asset('img/AverageIndegreeSimple.png') }}">
            <img width="100%" class="img-responsive" src="{{ asset('img/AverageIndegreeErrorbars.png') }}">
            <img width="100%" class="img-responsive" src="{{ asset('img/AverageIndegreeBarchart.png') }}">
            <hr class="style-four">

        </div>
    </div>

{% endblock %}


