{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( function() {
            $( "#slider-range" ).slider({
                range: true,
                min: 1850,
                max: 1990,
                values: [ 1960, 1990 ],
                slide: function( event, ui ) {
                    $( "#amount" ).val(  " "+ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                }
            });
            $( "#amount" ).val(  " "+$( "#slider-range" ).slider( "values", 0 ) +
                " - " + $( "#slider-range" ).slider( "values", 1 ) );
        } );
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div id='content' class='row'>
            <div id="left-sidebar" class="col-md-2 sidebar">
                <h3>Graph Filters</h3>
                <div style="padding: 10px 10px" id="scope">
                    <div class="row">
                        <p id="graphHeader">SCOPE : Politicians</p>
                    </div>
                </div>
                <div id="countries">
                    <div style="padding: 5px" class="row">
                        <p id="graphHeader">COUNTRY-1</p>
                        <div class="form-group">
                            <select class="form-control"  id="countriesList"></select>
                        </div>
                        <p id="graphHeader">COUNTRY-2</p>
                        <div class="form-group">
                            <select class="form-control"  id="countriesList2"></select>
                        </div>

                    </div>
                </div>
                <hr class="style-four">
                <p id="graphHeader">COLOR PALETTE</p>

                            <div id="colorPalette" data-toggle="buttons">
                                <label class="btn btn-block btn-default ">
                                    <input type="radio" value="0" name="coloroptions" id="option1" autocomplete="off" > Gender
                                </label>
                                <div  class="gender-selector">
                                    <i id="female" class=" fa fa-female fa-2x"></i>
                                    <i id="male" class="fa fa-male fa-2x"></i>
                                </div>
                                <label class="btn btn-block btn-default active">
                                    <input type="radio"  value="1" name="coloroptions" id="option2" autocomplete="off" aria-selected="true" checked> Nationality
                                </label>
                                <div class="nationality-selector radio">
                                    <i id="country1" class="fa fa-globe fa-2x"></i>&nbsp;&nbsp;Country - 1<br>
                                    <i id="country2" class="fa fa-globe fa-2x"></i>&nbsp;&nbsp;Country - 2
                                </div>

                            </div>

                <hr class="style-four">
                <div id="age">
                    <div style="padding: 10px; padding-bottom: 20px" class="row">
                        <p id="graphHeader">Year Of Birth</p>
                        <div class="form-group">
                        <label for="amount">range:</label>
                        <input  type="text" id="amount" readonly style=" width: 100px; border:0; color:#0f86ce; font-weight:bold;">
                        </div>
                        <div  id="slider-range"></div>
                    </div>
                </div>


            </div>
            <div class='col-md-7 main'>
                <div id="d3Box">
                    <div  id="graphHolder"></div>
                    <div id="sliderHolder">
                        <div id="slider"></div>
                    </div>
                </div>
                </div>
            <div id="right-sidebar" class='col-md-3 sidebar'>
                <h3>Stats Report</h3>
                <div style="padding: 5px" class="row">
                    <p id="graphHeader">STAT - 1</p>

                   <img class="img-responsive" src="{{ asset('img/plot1.png') }}">
                </div>
                <hr class="style-four">
                <div style="padding: 5px" class="row">
                    <p id="graphHeader">STAT - 2</p>

                    <img class="img-responsive" src="{{ asset('img/plot2.png') }}">
                </div>
                <hr class="style-four">
                <div style="padding: 5px; text-align: center" class="row">
                    <p id="graphHeader">STAT - 3</p>

                    <img  class="img-responsive" src="{{ asset('img/plot1.png') }}">
                </div>
                <hr class="style-four">


            </div>
        </div>
    </div>

{% endblock %}


