{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div id="teamimg">
        <img  src="{{ asset('img/team.png') }}" >
        <h1 class="page-header"> Our Team </h1>
        </div>

        <div class="row">
            <div id="teamRole" class="col-md-4">
                <img id="teamRoleImg" src="{{ asset('img/manager.png') }}" class="img-thumbnail">
            </div>
            <div class="col-md-6">
                <p id="teamRoleHeader">
                  Project Manager
                </p>
                <p id="teamRoleContent">1. <span id="name">Dr. Claudia Wagner</span> | Asst Prof - University of Koblenz Landau</p>
                <p id="teamRoleContent">2. <span id="name">Fabian</span> | University of Koblenz Landau</p>
                <p id="teamRoleHeader">
                    Scrum Master
                </p>
                <p id="teamRoleContent">3. <span id="name">Pang Wayne</span> | M.Sc. Web Science - University of Koblenz Landau</p>
            </div>
        </div>
        <div class="row">
            <div id="teamRole" class="col-md-4">
                <img id="teamRoleImg" src="{{ asset('img/ui.png') }}" class="img-thumbnail">
            </div>
            <div class="col-md-6">
                <p id="teamRoleHeader">
                    UI & Visualization Team
                </p>
                <p id="teamRoleContent">1. <span id="name">Nishant Tamilselvan</span> | M.Sc. Web Science - University of Koblenz Landau</p>
                <p id="teamRoleContent">2. <span id="name">Qianhong Ye</span> | M.Sc. Web Science - University of Koblenz Landau</p>

            </div>
        </div>
        <div class="row">
            <div id="teamRole" class="col-md-4">
                <img id="teamRoleImg" src="{{ asset('img/data_team.png') }}" class="img-thumbnail">
            </div>
            <div class="col-md-6">
                <p id="teamRoleHeader">
                    Data Crawling & Parsing Team
                </p>
                <p id="teamRoleContent">1. <span id="name">Marcel Reif</span> | M.Sc. Web Science - University of Koblenz Landau</p>
                <p id="teamRoleContent">2. <span id="name">Evgeniy Vasilev</span> | M.Sc. Web Science - University of Koblenz Landau</p>
                <p id="teamRoleContent">3. <span id="name">Kandhasamy Rajesekaran</span> | M.Sc. Web Science - University of Koblenz Landau</p>
                <p id="teamRoleContent">4. <span id="name">Tevriz Yusupova</span> | M.Sc. Web Science - University of Koblenz Landau</p>

            </div>
        </div>
        <div class="row">
            <div id="teamRole" class="col-md-4">
                <img id="teamRoleImg" src="{{ asset('img/statistics.png') }}" class="img-thumbnail">
            </div>
            <div class="col-md-6">
                <p id="teamRoleHeader">
                    Network Analysis & Statistics Team
                </p>
                <p id="teamRoleContent">1. <span id="name">Sousan Hp</span> | M.Sc. Web Science - University of Koblenz Landau</p>
                <p id="teamRoleContent">2. <span id="name">Tobias Thesing</span> | M.Sc. Web Science - University of Koblenz Landau</p>
                <p id="teamRoleContent">3. <span id="name">Arseniy Smirnov</span> | M.Sc. Web Science - University of Koblenz Landau</p>

            </div>
        </div>

    </div>

    <footer>
        <div class="inner">
            <div class="container">

            </div>
        </div>

{% endblock %}